<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Fusion'16-Civil</title>
    <script src="http://s.codepen.io/assets/libs/modernizr.js" type="text/javascript"></script>
	<link rel="shortcut icon" href="../img/favicon.ico">
	<link rel="stylesheet" href="../css/materialize.css">
 	 <link rel="stylesheet" href="../css/style-civil.css">
  </head>
  <body>
  <nav>
    <div class="nav-wrapper navbar-fixed" id="topnav">
    	<a class="btn-floating btn-large waves-effect waves-light red" href="home.html"><img src="../img/back.png" style="margin-top:10px;"/></a>
    	<img src="../img/logo.png" style="position: absolute; height:65px; padding-top:2px;margin-left:44%;"/>
    </div>
  </nav>
	<div class="container" id="mainbody">
    <h1 class="project-name">CIVIL DOCKET</h1>
		<div id="timeline">
			<div class="timeline-item">
				<div class="timeline-icon">
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="21px" height="20px" viewBox="0 0 21 20" enable-background="new 0 0 21 20" xml:space="preserve">
				<path fill="#FFFFFF" d="M19.998,6.766l-5.759-0.544c-0.362-0.032-0.676-0.264-0.822-0.61l-2.064-4.999
					c-0.329-0.825-1.5-0.825-1.83,0L7.476,5.611c-0.132,0.346-0.462,0.578-0.824,0.61L0.894,6.766C0.035,6.848-0.312,7.921,0.333,8.499
					l4.338,3.811c0.279,0.246,0.395,0.609,0.314,0.975l-1.304,5.345c-0.199,0.842,0.708,1.534,1.468,1.089l4.801-2.822
					c0.313-0.181,0.695-0.181,1.006,0l4.803,2.822c0.759,0.445,1.666-0.23,1.468-1.089l-1.288-5.345
					c-0.081-0.365,0.035-0.729,0.313-0.975l4.34-3.811C21.219,7.921,20.855,6.848,19.998,6.766z"/>
				</svg>
				</div>
				<div class="timeline-content">
					<h2>Game Plan</h2>
					<p>
						Get yourself out of the given problem and be the winner.					</p>
					 <a class="waves-effect waves-light btn modal-trigger" href="#modal1">DETAILS</a>
				</div>
				<div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Game Plan</h4>
      <p> <b>Round 1:</b><br>
      <p style="text-indent:50px;">You will be given a social or general issue related to our society and you will be required to present your best idea that can help the society solve the problem. You can present your    idea through any means.</p>
 	<p><b>Round 2:</p></b>
 	<p style="text-indent:50px;">You will be redistributed in several groups and you will be given a specific real life scenario and your group will be asked to provide your reaction in that situation. This is  Group Planning Exercise and it is one of the test you have to clear if you want to join any of the armed forces of the nation.</p>
 	<p style="margin-left:20px;">Event Fee – 30 Rs (per team)<br/>
	Participants per team -3<br>
	Event manager- Jenish Kamani<br>
	Mobile no.-9099025018
	</p>
	</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">CLOSE</a>
    </div>
  </div>
			</div>
			<div class="timeline-item">
				<div class="timeline-icon">
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="21px" height="20px" viewBox="0 0 21 20" enable-background="new 0 0 21 20" xml:space="preserve">
				<path fill="#FFFFFF" d="M19.998,6.766l-5.759-0.544c-0.362-0.032-0.676-0.264-0.822-0.61l-2.064-4.999
					c-0.329-0.825-1.5-0.825-1.83,0L7.476,5.611c-0.132,0.346-0.462,0.578-0.824,0.61L0.894,6.766C0.035,6.848-0.312,7.921,0.333,8.499
					l4.338,3.811c0.279,0.246,0.395,0.609,0.314,0.975l-1.304,5.345c-0.199,0.842,0.708,1.534,1.468,1.089l4.801-2.822
					c0.313-0.181,0.695-0.181,1.006,0l4.803,2.822c0.759,0.445,1.666-0.23,1.468-1.089l-1.288-5.345
					c-0.081-0.365,0.035-0.729,0.313-0.975l4.34-3.811C21.219,7.921,20.855,6.848,19.998,6.766z"/>
				</svg>
				</div>
				<div class="timeline-content right">
					<h2>Lift Off</h2>
					<p>
						You'll be required to make a lift up mechanism with syringes.
					</p>
					<a class="waves-effect waves-light btn modal-trigger" href="#modal2">DETAILS</a>
				</div>
				<div id="modal2" class="modal">
    <div class="modal-content">
      <h4>Lift Off</h4>
      <p> <b>Round 1<br></b>
      <p style="margin-left:50px;">It is a model Making Event where the participants will be provided all the needed materials and they will be asked to make a mechanism which can lift specific load to a certain height and you have to make a hydraulic ramp by using syringes, pipes, candy sticks etc.</p>
<p><b>Judgement Criteria:</b><br></p>
<p style="margin-left:50px;">-Your Concept behind the design and the way you have implemented your design.</p>
<p style="margin-left:50px;">-The amount of load your mechanism can lift.</p>
<p style="margin-left:50px;">-The height upto which your mechanism can lift the load.</p>
<p style="margin-left:20px;">Event Fee – 50 Rs (per team)<br/>
Participants per team- 3 <br>
Event manager- Kedar Dave<br>
Mobile no.-8141717770</p>
</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">CLOSE</a>
    </div>
  </div>
			</div>
			<div class="timeline-item">
				<div class="timeline-icon">
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						 width="21px" height="20px" viewBox="0 0 21 20" enable-background="new 0 0 21 20" xml:space="preserve">
					<path fill="#FFFFFF" d="M19.998,6.766l-5.759-0.544c-0.362-0.032-0.676-0.264-0.822-0.61l-2.064-4.999
						c-0.329-0.825-1.5-0.825-1.83,0L7.476,5.611c-0.132,0.346-0.462,0.578-0.824,0.61L0.894,6.766C0.035,6.848-0.312,7.921,0.333,8.499
						l4.338,3.811c0.279,0.246,0.395,0.609,0.314,0.975l-1.304,5.345c-0.199,0.842,0.708,1.534,1.468,1.089l4.801-2.822
						c0.313-0.181,0.695-0.181,1.006,0l4.803,2.822c0.759,0.445,1.666-0.23,1.468-1.089l-1.288-5.345
						c-0.081-0.365,0.035-0.729,0.313-0.975l4.34-3.811C21.219,7.921,20.855,6.848,19.998,6.766z"/>
					</svg>
				</div>
				<div class="timeline-content">
					<h2>Run</h2>
					<p>
						Run and observe everything....that's all you have to do.
					</p>
					<a class="waves-effect waves-light btn modal-trigger" href="#modal3">DETAILS</a>
				</div>
				<div id="modal3" class="modal">
    <div class="modal-content">
      <h4>Run</h4>
      <p>It is treasure hunt with some technical flavours added.You will have to rush to all the corners of the college and will explore a lot during this event.Use your intellect and friendship bond and be the First one to finish.</p>
      <b><p>Round 1:<br></b><p style="text-indent:50px;">It is treasure hunt with some technical flavours added, in which some basic technical tasks related to basic engineering, general knowledge and schoolings will help team to crack the 1st round.</p>
 <p><b>Round 2:</b></p><p style="text-indent:50px;">All you have to do here is notice the things around you and try to finish the given task as early as possible. Enjoy at the fullest and hope for the best.</p>
<p style="margin-left:20px;">Event Fee – 30 Rs(per team)<br/>
Participants per team – 3<br/>
Event Manager – Shrey Vaidya <br/>
Mobile no.-8401605665
</p>


</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">CLOSE</a>
    </div>
			</div>
		</div>
	</div>
</div>
      <footer class="page-footer had-container">
          <div class="footer-copyright">
           <center>
                <a href="https://www.facebook.com/fusionbvm"> <img src="../img/facebook42.png"></img></a>
                <a href="https://www.instagram.com/fusionbvm"><img src="../img/instagram42.png"></img></a>
                <a href="https://github.com/Team-ISTE"><img src="../img/github42.png"></img></a>
           </center>
          </div>

        </footer>
        <style>
		h4{
			color:#51B318;
		}
		p{
			color: #EA25F8;
		}
        </style>
		<script type="text/javascript" src="../js/jquery-2.2.0.min.js"></script>
		<script type="text/javascript" src="../js/materialize.min.js"></script>
        <script type="text/javascript" src="../js/main.js"></script>
        <script rel="text/javascript" src="../js/jquery.fittext.js"></script>
        <script rel="text/javascript" src="../js/jquery.lettering.js"></script>
        <script rel="text/javascript" src="http://yandex.st/highlightjs/7.3/highlight.min.js"></script>
        <script rel="text/javascript" src="../js/jquery.textillate.js"></script>

  </body>
</html>
