<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Fusion'16-ET/EL</title>
	<link rel="shortcut icon" href="../img/favicon.ico">
    <script src="http://s.codepen.io/assets/libs/modernizr.js" type="text/javascript"></script>
	<link rel="stylesheet" href="../css/materialize.css">
 	 <link rel="stylesheet" href="../css/style-etel.css">

  </head>
  <body>
  <nav>
    <div class="nav-wrapper navbar-fixed" id="topnav">
    	<a class="btn-floating btn-large waves-effect waves-light red" href="home.html"><img src="../img/back.png" style="margin-top:10px;"/></a>
    	<img src="../img/logo.png" style="position: absolute; height:65px; padding-top:2px;margin-left:44%;"/>
    </div>
  </nav>
	<div class="container" id="mainbody">
    <h1 class="project-name">ET/EL DOCKET</h1>
		<div id="timeline">
			<div class="timeline-item">
				<div class="timeline-icon">
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="21px" height="20px" viewBox="0 0 21 20" enable-background="new 0 0 21 20" xml:space="preserve">
				<path fill="#FFFFFF" d="M19.998,6.766l-5.759-0.544c-0.362-0.032-0.676-0.264-0.822-0.61l-2.064-4.999
					c-0.329-0.825-1.5-0.825-1.83,0L7.476,5.611c-0.132,0.346-0.462,0.578-0.824,0.61L0.894,6.766C0.035,6.848-0.312,7.921,0.333,8.499
					l4.338,3.811c0.279,0.246,0.395,0.609,0.314,0.975l-1.304,5.345c-0.199,0.842,0.708,1.534,1.468,1.089l4.801-2.822
					c0.313-0.181,0.695-0.181,1.006,0l4.803,2.822c0.759,0.445,1.666-0.23,1.468-1.089l-1.288-5.345
					c-0.081-0.365,0.035-0.729,0.313-0.975l4.34-3.811C21.219,7.921,20.855,6.848,19.998,6.766z"/>
				</svg>
				</div>
				<div class="timeline-content">
					<h2>The Maze Runner</h2>
					<p>
						Get ready to show off your 'Coding Keeda' & crack the aurdiocrats programming challenge.
					</p>
					 <a class="waves-effect waves-light btn modal-trigger" href="#modal1">DETAILS</a>
				</div>
				<div id="modal1" class="modal modal-fixed-footer">
                  <div class="modal-content">
                              <h4>The Maze Runner</h4>
                              <p> <b>Round 1: - Preliminary quiz </b><br>
                        <p style="text-indent:50px;">The first round of the event is based on general quiz based on Basic Of electronics. Like analog, digital etc.</p> <br>

                        <b><p>Round 2: - Arduino Coding</p></b> 
                        <p style="text-indent:50px;">A problem statement would be asked on basic Arduino programming (like LED blink, display, serial communication etc.). They have to display the working Arduino code in Arduino IDE. </p> <br>

                        <b><p>Round 3: - Arduino Implementation </p></b>
                        <p style="text-indent:50px;">In final round problem statement would be given and they have to write code and implement circuit on Proteus tool. Round 3 is almost on the base of practical application like LCD display, motor controlling, led controlling etc. So, the problem statement will be given on the spot and the participants will have to solve the problem(s) within the specified time limit.</p>
                        <p style="margin-left:20px;">Event Fee – 30 Rs (per team)<br/>
                        Participants per team – 2<br/>
                        Event Manager – Siddharaj Gogre, Aamir Mansuri <br/>
                        Mobile no.-7874536826/8460370274
                        </p>
                        </p>
                  </div>
                  <div class="modal-footer ">
                      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">CLOSE</a>
                  </div>
        </div>
			</div>
			<div class="timeline-item">
				<div class="timeline-icon">
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="21px" height="20px" viewBox="0 0 21 20" enable-background="new 0 0 21 20" xml:space="preserve">
				<path fill="#fff" d="M19.998,6.766l-5.759-0.544c-0.362-0.032-0.676-0.264-0.822-0.61l-2.064-4.999
					c-0.329-0.825-1.5-0.825-1.83,0L7.476,5.611c-0.132,0.346-0.462,0.578-0.824,0.61L0.894,6.766C0.035,6.848-0.312,7.921,0.333,8.499
					l4.338,3.811c0.279,0.246,0.395,0.609,0.314,0.975l-1.304,5.345c-0.199,0.842,0.708,1.534,1.468,1.089l4.801-2.822
					c0.313-0.181,0.695-0.181,1.006,0l4.803,2.822c0.759,0.445,1.666-0.23,1.468-1.089l-1.288-5.345
					c-0.081-0.365,0.035-0.729,0.313-0.975l4.34-3.811C21.219,7.921,20.855,6.848,19.998,6.766z"/>
				</svg>
				</div>
				<div class="timeline-content right">
					<h2>Prison Break</h2>
					<p>
						Follow the Clue-1, Clue-2 if you can get the Clue-3 then think that you've broke the prison.
					</p>
					<a class="waves-effect waves-light btn modal-trigger" href="#modal2">DETAILS</a>
				</div>
				    <div id="modal2" class="modal">
                <div class="modal-content">
                          <h4>Prison Break</h4>
                         <p>Treasure hunt based on technical and non technical clues.<br>
                          <p><b>Round 1:<br></b></p>
                    <p style="text-indent:50px;">At starting point each team will be given a question and they will be given two destination place map. After solving one clue, the team have to move to other clue. Each team will have two chance of solving one clue. On the second clue, they have to find a key for the next round</p> <br>

                    <b><p>Round 2:</p></b>
                    <p style="text-indent:50px;">Top 10 teams will be given a map. And with 1st, 2nd, and the new clue they have to go through a map following different routes and clues and only one team will be the winner, as this round also includes elimination between the teams.</p> <br>


                    <p>Event Fee – 30 Rs (per team)<br/>
                    Participants per team – 2(min)/ 3(max)<br/>
                    Event Manager –  Subham Dhar<br/>
                    Mobile no.-7600878168
                    </p>
                    </p>
                </div>
                <div class="modal-footer">
                  <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">CLOSE</a>
                </div>
              </div>
      </div>
			<div class="timeline-item">
				<div class="timeline-icon">
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						 width="21px" height="20px" viewBox="0 0 21 20" enable-background="new 0 0 21 20" xml:space="preserve">
					<path fill="#FFFFFF" d="M19.998,6.766l-5.759-0.544c-0.362-0.032-0.676-0.264-0.822-0.61l-2.064-4.999
						c-0.329-0.825-1.5-0.825-1.83,0L7.476,5.611c-0.132,0.346-0.462,0.578-0.824,0.61L0.894,6.766C0.035,6.848-0.312,7.921,0.333,8.499
						l4.338,3.811c0.279,0.246,0.395,0.609,0.314,0.975l-1.304,5.345c-0.199,0.842,0.708,1.534,1.468,1.089l4.801-2.822
						c0.313-0.181,0.695-0.181,1.006,0l4.803,2.822c0.759,0.445,1.666-0.23,1.468-1.089l-1.288-5.345
						c-0.081-0.365,0.035-0.729,0.313-0.975l4.34-3.811C21.219,7.921,20.855,6.848,19.998,6.766z"/>
					</svg>
				</div>
				<div class="timeline-content">
					<h2>Lost</h2>
					<p>
						Open the Logic Gate, obtain a password, and Bang on!!
					</p>
					<a class="waves-effect waves-light btn modal-trigger" href="#modal3">DETAILS</a>
				</div>
				<div id="modal3" class="modal">
            <div class="modal-content">
                      <h4>Lost</h4>
                      <p>The event is completely based on the learnt knowledge of Gates<br>
                      <b><p>Round 1:The Gate-Quiz<br></p></b>
                <p style="text-indent:50px;">Technical questions related to logical gates would be asked.</p> <br>

                <b><p>Round 2:The Password</p></b>
                <p style="text-indent:50px;">Participants would have to solve a puzzle which will redirect them to a logic circuit and on solving it they will obtain a unique password.</p> <br>

                <b><p>Round 3:</b></p>
                <p style="text-indent:50px;">Surprise round</p> <br>

                <p>Event Fee – 30 Rs (per team)<br/>
                Participants per team – 2<br/>
                Event Manager –  Shrey Anjaria<br/>
                Mobile no.-9638851178
                </p>
                </p>
            </div>
                    <div class="modal-footer">
                      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">CLOSE</a>
                    </div>
     	    </div>
		</div>
		<div class="timeline-item">
				<div class="timeline-icon">
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="21px" height="20px" viewBox="0 0 21 20" enable-background="new 0 0 21 20" xml:space="preserve">
				<path fill="#FFFFFF" d="M19.998,6.766l-5.759-0.544c-0.362-0.032-0.676-0.264-0.822-0.61l-2.064-4.999
					c-0.329-0.825-1.5-0.825-1.83,0L7.476,5.611c-0.132,0.346-0.462,0.578-0.824,0.61L0.894,6.766C0.035,6.848-0.312,7.921,0.333,8.499
					l4.338,3.811c0.279,0.246,0.395,0.609,0.314,0.975l-1.304,5.345c-0.199,0.842,0.708,1.534,1.468,1.089l4.801-2.822
					c0.313-0.181,0.695-0.181,1.006,0l4.803,2.822c0.759,0.445,1.666-0.23,1.468-1.089l-1.288-5.345
					c-0.081-0.365,0.035-0.729,0.313-0.975l4.34-3.811C21.219,7.921,20.855,6.848,19.998,6.766z"/>
				</svg>
				</div>
				<div class="timeline-content right">
					<h2>White Collar</h2>
					<p>
						A technical event, examining your creativity, presence of mind and teamwork platform from basic knowledge of your stream.
					</p>
					<a class="waves-effect waves-light btn modal-trigger" href="#modal4">DETAILS</a>
				</div>
				<div id="modal4" class="modal">
              <div class="modal-content">
                    <h4>White Collar</h4>
                    <p><b>Round 1:Know’em all<br></b>
                    <p style="text-indent:50px;">This round comprises of various pictorial images. For eg. A picture of bulb will be shown. Then below it will be the question related to the inventor of it.For eg: This man brought ‘LIGHT’ in our lives. Who is he. Vice-versa will also be done. Eg. A picture of some famous personality, say Steve Jobs will be shown. “What made him famous in the world?”</p> <br>

                    <b><p>Round 2: Jumble Trouble</p></b>
                    <p style="text-indent:50px;">In this round a  circuit will be provided to each of the qualified teams but only one of the two team members can see the circuit. Then that member will have to explain the circuit to the other team member, without using the exact terminologies. </p> <br>

                    <b><p>Round 3:Relay</b></p>
                    <p style="text-indent:50px;">In this round the qualified teams have to select a member,the selected member will be given a starting clue, then he has to solve it and gain the clue for the required components. Similarly he will have to obtain 2 components, then return to his partner and forward the clue for the 3rd component and then he has to carry forward the relay and has to find 2 other components and finally the team that gets all the components will be given a master component by us and they have to make the circuit on paper and the team completing in minimum time will be the winner.</p> <br>

                    <p>Event Fee – 20 Rs (per team)<br/>
                    Participants per team – 2<br/>
                    Event Manager –  Krishna Kariya, Mahak Kothari <br/>
                    Mobile no.-9904602211
                    </p>
                    </p>
              </div>
              <div class="modal-footer">
                <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">CLOSE</a>
              </div>
        </div>
    </div>
 </div>
</div>
<br><br><br><br>
      <footer class="page-footer had-container">
          <div class="footer-copyright">
            <center>
              <a  target="_blank" href="https://www.facebook.com/fusionbvm"><img src="../img/facebook42.png"></img></a>
              <a target="_blank"  href="https://www.instagram.com/fusionbvm"><img src="../img/instagram42.png"></img></a>
              <a target="_blank"  href="https://github.com/Team-ISTE"><img src="../img/github42.png"></img></a>
           </center>
          </div>

        </footer>
        <style>
       
        h4{
          color: #1C12DF;
        }
        p{
          color: #DF7D0E;
        }
        </style>
		    <script type="text/javascript" src="../js/jquery-2.2.0.min.js"></script>
		    <script type="text/javascript" src="../js/materialize.min.js"></script>
        <script type="text/javascript" src="../js/main.js"></script>
        <script rel="text/javascript" src="../js/jquery.fittext.js"></script>
        <script rel="text/javascript" src="../js/jquery.lettering.js"></script>
        <script rel="text/javascript" src="http://yandex.st/highlightjs/7.3/highlight.min.js"></script>
        <script rel="text/javascript" src="../js/jquery.textillate.js"></script>
  </body>
</html>
