<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Fusion'16-IT/CP</title>
	<link rel="shortcut icon" href="../img/favicon.ico">
    <script src="http://s.codepen.io/assets/libs/modernizr.js" type="text/javascript"></script>
	<link rel="stylesheet" href="../css/materialize.css">
 	 <link rel="stylesheet" href="../css/style-cpit.css">
  </head>
  <body>
  <nav>
    <div class="nav-wrapper navbar-fixed" id="topnav">
    	<a class="btn-floating btn-large waves-effect waves-light red" href="home.html"><img src="../img/back.png" style="margin-top:10px;"/></a>
    	<img src="../img/logo.png" style="position: absolute; height:65px; padding-top:2px;margin-left:44%;"/>
    </div>
  </nav>
	<div class="container" id="mainbody">
    <h1 class="project-name">CP/IT DOCKET</h1>
		<div id="timeline">
			<div class="timeline-item">
				<div class="timeline-icon">
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="21px" height="20px" viewBox="0 0 21 20" enable-background="new 0 0 21 20" xml:space="preserve">
				<path fill="#FFFFFF" d="M19.998,6.766l-5.759-0.544c-0.362-0.032-0.676-0.264-0.822-0.61l-2.064-4.999
					c-0.329-0.825-1.5-0.825-1.83,0L7.476,5.611c-0.132,0.346-0.462,0.578-0.824,0.61L0.894,6.766C0.035,6.848-0.312,7.921,0.333,8.499
					l4.338,3.811c0.279,0.246,0.395,0.609,0.314,0.975l-1.304,5.345c-0.199,0.842,0.708,1.534,1.468,1.089l4.801-2.822
					c0.313-0.181,0.695-0.181,1.006,0l4.803,2.822c0.759,0.445,1.666-0.23,1.468-1.089l-1.288-5.345
					c-0.081-0.365,0.035-0.729,0.313-0.975l4.34-3.811C21.219,7.921,20.855,6.848,19.998,6.766z"/>
				</svg>
				</div>
				<div class="timeline-content">
					<h2>Death-Note</h2>
					<p>
						Catch KIRA and kill criminals.
					</p>
					 <a class="waves-effect waves-light btn modal-trigger" href="#modal1">DETAILS</a>
				</div>
				<div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Death-Note</h4>
      <p><b>Round 1: <br></b>

<p style="text-indent:50px;">There will be a treasure hunt in which all the contestants have to solve the clues (which will be in html css and JavaScript) which will give them coordinates of the location for next clue and first 10 teams reaching the destination will go to next round.</p>

<p><b>Round 2:</b></p>
<p style="text-indent:50px;">
In this round participants have to bid for the html and css tags and then they are supposed to make a website only using those tags. In the end of this round jury will decide the winner by ranking the websites.<br/>
<p style="margin-left:20px;">Event Fee – 20 Rs (per team)<br/>
Participants per team – 2<br/>
Event Manager – Maunil Swadas <br/>
Mobile no.-9427592587
</p>
</p></p>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">CLOSE</a>
    </div>
  </div>
			</div>
			<div class="timeline-item">
				<div class="timeline-icon">
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="21px" height="20px" viewBox="0 0 21 20" enable-background="new 0 0 21 20" xml:space="preserve">
				<path fill="#fff" d="M19.998,6.766l-5.759-0.544c-0.362-0.032-0.676-0.264-0.822-0.61l-2.064-4.999
					c-0.329-0.825-1.5-0.825-1.83,0L7.476,5.611c-0.132,0.346-0.462,0.578-0.824,0.61L0.894,6.766C0.035,6.848-0.312,7.921,0.333,8.499
					l4.338,3.811c0.279,0.246,0.395,0.609,0.314,0.975l-1.304,5.345c-0.199,0.842,0.708,1.534,1.468,1.089l4.801-2.822
					c0.313-0.181,0.695-0.181,1.006,0l4.803,2.822c0.759,0.445,1.666-0.23,1.468-1.089l-1.288-5.345
					c-0.081-0.365,0.035-0.729,0.313-0.975l4.34-3.811C21.219,7.921,20.855,6.848,19.998,6.766z"/>
				</svg>
				</div>
				<div class="timeline-content right">
					<h2>Scorpion</h2>
					<p>
						If you know the current technology, grab the opportunity, solve the puzzle, speak up the ideas and win the game.
					</p>
					<a class="waves-effect waves-light btn modal-trigger" href="#modal2">DETAILS</a>
				</div>
				<div id="modal2" class="modal">
    <div class="modal-content">
      <h4>Scorpion</h4>
      <p><b>Round 1: <br></b>

			<p style="text-indent:50px;">It is the quiz in which two papers will be given to each participant. First paper will contain technical (IT/computer related) question and second paper will contain their answers in the form of crossword. Participant will have to select correct answer for each question.</p>

	<b><p>Round 2: </p></b>
		<p style="text-indent:50px;">It is EXTEMPORE. Participant will have to speak on a random technical topic given on spot for 2 minutes.<br/>
<p style="margin-left:20px;">Event Fee – 20 Rs<br/>
Participants per team – 1<br/>
Event Manager – Dhwani Bhansali<br>
Mobile no.-9429916848
</p>
</p></p>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">CLOSE</a>
    </div>
  </div>
		</div>
			<div class="timeline-item">
				<div class="timeline-icon">
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						 width="21px" height="20px" viewBox="0 0 21 20" enable-background="new 0 0 21 20" xml:space="preserve">
					<path fill="#FFFFFF" d="M19.998,6.766l-5.759-0.544c-0.362-0.032-0.676-0.264-0.822-0.61l-2.064-4.999
						c-0.329-0.825-1.5-0.825-1.83,0L7.476,5.611c-0.132,0.346-0.462,0.578-0.824,0.61L0.894,6.766C0.035,6.848-0.312,7.921,0.333,8.499
						l4.338,3.811c0.279,0.246,0.395,0.609,0.314,0.975l-1.304,5.345c-0.199,0.842,0.708,1.534,1.468,1.089l4.801-2.822
						c0.313-0.181,0.695-0.181,1.006,0l4.803,2.822c0.759,0.445,1.666-0.23,1.468-1.089l-1.288-5.345
						c-0.081-0.365,0.035-0.729,0.313-0.975l4.34-3.811C21.219,7.921,20.855,6.848,19.998,6.766z"/>
					</svg>
				</div>
				<div class="timeline-content">
					<h2>Breaking Bad</h2>
					<p>
						I'm the one who codes.
					</p>
					<a class="waves-effect waves-light btn modal-trigger" href="#modal3">DETAILS</a>
				</div>
				<div id="modal3" class="modal">
    <div class="modal-content">
      <h4>Breaking Bad</h4>
      <p><b>Round 1:Head Storm </b><br>

			<p style="text-indent:50px;">It is a quiz based on C programming. Which contains questions like find the errors, Write the output, crossword etc.</p>

	<b><p>Round 2:Debate Ka Senate </p></b>
		<p style="text-indent:50px;">Time limit: 1.5 Hour It is a Debate based on recent topics of IT field. After 1st round, participants will be divided into groups and debate will be held between them.
			<br/><br/>
	<b><p>Round 3:Logic Ka King</p></b>
			<p style="text-indent:50px;">In this round participants will be given set of Outputs and they are intended to write multiple logics of that output. They are not supposed to write program. </p>
<p style="margin-left:20px;">Event Fee – 20 Rs<br/>
Participants per team – 1<br/>
Event Manager – Meet Shah<br/>
Mobile no.-8460737493
</p>
</p></p>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">CLOSE</a>
    </div>
			</div>
		</div>
		<div class="timeline-item">
				<div class="timeline-icon">
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="21px" height="20px" viewBox="0 0 21 20" enable-background="new 0 0 21 20" xml:space="preserve">
				<path fill="#FFFFFF" d="M19.998,6.766l-5.759-0.544c-0.362-0.032-0.676-0.264-0.822-0.61l-2.064-4.999
					c-0.329-0.825-1.5-0.825-1.83,0L7.476,5.611c-0.132,0.346-0.462,0.578-0.824,0.61L0.894,6.766C0.035,6.848-0.312,7.921,0.333,8.499
					l4.338,3.811c0.279,0.246,0.395,0.609,0.314,0.975l-1.304,5.345c-0.199,0.842,0.708,1.534,1.468,1.089l4.801-2.822
					c0.313-0.181,0.695-0.181,1.006,0l4.803,2.822c0.759,0.445,1.666-0.23,1.468-1.089l-1.288-5.345
					c-0.081-0.365,0.035-0.729,0.313-0.975l4.34-3.811C21.219,7.921,20.855,6.848,19.998,6.766z"/>
				</svg>
				</div>
				<div class="timeline-content right">
					<h2>Big Bang Theory</h2>
					<p>
						Bring out the Bazingaa from within.
					</p>
					<a class="waves-effect waves-light btn modal-trigger" href="#modal4">DETAILS</a>
				</div>
				<div id="modal4" class="modal">
    <div class="modal-content">
      <h4>Big Bang Theory</h4>
      <p><b>Round 1:Buzz-Up</b><br>

			<p style="text-indent:50px;">This is a buzzer round event in which they have to identify IT/CP based companies,persons,etc. There will be questions which include logo, tag line, picture to identify (ceo, place, etc).Number of participants will be divided into small groups and they have to answer as quickly as possible by pressing buzzer. All the questions are shown on projector to participants. </p>

	<b><p>Round 2:Speak the Pic </p></b>
		<p style="text-indent:50px;">
All the participants will be paired up according to their performance in 1st round. They will be shown two pictures (one technical and the other one non-technical). They have to relate both the pictures and speak on it for 3 minutes. They also have to give their introduction in it. Here they will be judged on their speaking skills.

			<br/><br/>
	<b><p>Round 3:Big Bang</b></p>
			<p style="text-indent:50px;">In this round selected participants will be given a question(long story) and they have to make a program based on that questions(situations). Coding will be done on C++. </p>
<p style="margin-left:20px;">Event Fee – 20 Rs<br/>
Participants per team – 1<br/>
Event Manager – Urvish Mahant<br/>
Mobile no.-9979087291
</p>
</p></p>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat ">CLOSE</a>
    </div>
  </div>
			</div>
	</div>

</div>
</div>
<br><br><br><br>
      <footer class="page-footer had-container">
          <div class="footer-copyright">
            <center>
              <a  target="_blank" href="https://www.facebook.com/fusionbvm"><img src="../img/facebook42.png"></img></a>
              <a target="_blank"  href="https://www.instagram.com/fusionbvm"><img src="../img/instagram42.png"></img></a>
              <a target="_blank"  href="https://github.com/Team-ISTE"><img src="../img/github42.png"></img></a>
           </center>
          </div>

        </footer>
        <style>
		h4{
			color: #F5AB34;
		}
		p{
			 color: #2C6BD8;
		}
        </style>
		   <script type="text/javascript" src="../js/jquery-2.2.0.min.js"></script>
	   	 <script type="text/javascript" src="../js/materialize.min.js"></script>
        <script type="text/javascript" src="../js/main.js"></script>
        <script rel="text/javascript" src="../js/jquery.fittext.js"></script>
        <script rel="text/javascript" src="../js/jquery.lettering.js"></script>
        <script rel="text/javascript" src="http://yandex.st/highlightjs/7.3/highlight.min.js"></script>
        <script rel="text/javascript" src="../js/jquery.textillate.js"></script>

  </body>
</html>
