<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Fusion-ELECT</title>
	<link rel="shortcut icon" href="../img/favicon.ico">
    <script src="http://s.codepen.io/assets/libs/modernizr.js" type="text/javascript"></script>
	<link rel="stylesheet" href="../css/materialize.css">
 	 <link rel="stylesheet" href="../css/style-elect.css">
  </head>
  <body>
  <nav>
    <div class="nav-wrapper navbar-fixed" id="topnav">
    	<a class="btn-floating btn-large waves-effect waves-light red" href="home.html"><img src="../img/back.png" style="margin-top:10px;"/></a>
    	<img src="../img/logo.png" style="position: absolute; height:65px; padding-top:2px;margin-left:44%;"/>
    </div>
  </nav>
	<div class="container" id="mainbody">
    <h1 class="project-name">ELECT DOCKET</h1>
		<div id="timeline">
			<div class="timeline-item">
				<div class="timeline-icon">
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="21px" height="20px" viewBox="0 0 21 20" enable-background="new 0 0 21 20" xml:space="preserve">
				<path fill="#FFFFFF" d="M19.998,6.766l-5.759-0.544c-0.362-0.032-0.676-0.264-0.822-0.61l-2.064-4.999
					c-0.329-0.825-1.5-0.825-1.83,0L7.476,5.611c-0.132,0.346-0.462,0.578-0.824,0.61L0.894,6.766C0.035,6.848-0.312,7.921,0.333,8.499
					l4.338,3.811c0.279,0.246,0.395,0.609,0.314,0.975l-1.304,5.345c-0.199,0.842,0.708,1.534,1.468,1.089l4.801-2.822
					c0.313-0.181,0.695-0.181,1.006,0l4.803,2.822c0.759,0.445,1.666-0.23,1.468-1.089l-1.288-5.345
					c-0.081-0.365,0.035-0.729,0.313-0.975l4.34-3.811C21.219,7.921,20.855,6.848,19.998,6.766z"/>
				</svg>
				</div>
				<div class="timeline-content">
					<h2>Reverse Flash</h2>
					<p>
						Games of basic electrical knowledge.
					</p>
					 <a class="waves-effect waves-light btn modal-trigger" href="#modal1">DETAILS</a>
				</div>
				<div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Reverse Flash</h4>
     <p>Round 1: <br>
     	<p style="text-indent:50px;">In first round we give cross-word puzzle based of core subjects. Difficulty level varies according to participant’s year. </p>

	Round 2: <br>
	 <p style="text-indent:50px;">Oral quiz regarding to electrical subjects. Here also difficulty level based on participant’s year. <br><br>
Round 3:
<p style="text-indent:50px;">In this round we will play snack ladder game by inventing various different question based on  core subject knowledge.(Note: this game is based on knowledge not luck) </p>
<p style="text-indent:20px;">Entry Fee- 20 rs </br>
Participants per team: 2 </br>
Event Manager: Bhimani Viral  </br>
Phone No.: 8671921333
</p></p>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">CLOSE</a>
    </div>
  </div>
			</div>
			<div class="timeline-item">
				<div class="timeline-icon">
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="21px" height="20px" viewBox="0 0 21 20" enable-background="new 0 0 21 20" xml:space="preserve">
				<path fill="#FFFFFF" d="M19.998,6.766l-5.759-0.544c-0.362-0.032-0.676-0.264-0.822-0.61l-2.064-4.999
					c-0.329-0.825-1.5-0.825-1.83,0L7.476,5.611c-0.132,0.346-0.462,0.578-0.824,0.61L0.894,6.766C0.035,6.848-0.312,7.921,0.333,8.499
					l4.338,3.811c0.279,0.246,0.395,0.609,0.314,0.975l-1.304,5.345c-0.199,0.842,0.708,1.534,1.468,1.089l4.801-2.822
					c0.313-0.181,0.695-0.181,1.006,0l4.803,2.822c0.759,0.445,1.666-0.23,1.468-1.089l-1.288-5.345
					c-0.081-0.365,0.035-0.729,0.313-0.975l4.34-3.811C21.219,7.921,20.855,6.848,19.998,6.766z"/>
				</svg>
				</div>
				<div class="timeline-content right">
					<h2>Game of Thrones</h2>
					<p>
						Digital electronics knowledge and its implementation.
					</p>
					<a class="waves-effect waves-light btn modal-trigger" href="#modal2">DETAILS</a>
				</div>
				<div id="modal2" class="modal">
    <div class="modal-content">
      <h4>Game of Thrones</h4>
      <p>Round 1: <br>
      	<p style="text-indent:50px;">Quiz based on Digital Electronic and important concept.</p>
		<p>Round 2: </br>
		<p style="text-indent:50px;"> Analogous to treasure hunts. In this round we will give one question to each team and from that they find the location. In that location they will get another clue and at last from there they will get final question.</p>
		Round 3: <p style="text-indent:50px;">In this final round finalist have to debug the Digital circuit. The circuit will be based on digital ICs and your knowledge of implementation..</p>
<p style="text-indent:20px;">Entry Fee: 30 rs </br>
	Participants per team: 2 </br>
Event manager: Bhatt Harsh 	</br>
Mobile no.: 8460678411
</p></p></p>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">CLOSE</a>
    </div>
  </div>
			</div>
			<div class="timeline-item">
				<div class="timeline-icon">
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						 width="21px" height="20px" viewBox="0 0 21 20" enable-background="new 0 0 21 20" xml:space="preserve">
					<path fill="#FFFFFF" d="M19.998,6.766l-5.759-0.544c-0.362-0.032-0.676-0.264-0.822-0.61l-2.064-4.999
						c-0.329-0.825-1.5-0.825-1.83,0L7.476,5.611c-0.132,0.346-0.462,0.578-0.824,0.61L0.894,6.766C0.035,6.848-0.312,7.921,0.333,8.499
						l4.338,3.811c0.279,0.246,0.395,0.609,0.314,0.975l-1.304,5.345c-0.199,0.842,0.708,1.534,1.468,1.089l4.801-2.822
						c0.313-0.181,0.695-0.181,1.006,0l4.803,2.822c0.759,0.445,1.666-0.23,1.468-1.089l-1.288-5.345
						c-0.081-0.365,0.035-0.729,0.313-0.975l4.34-3.811C21.219,7.921,20.855,6.848,19.998,6.766z"/>
					</svg>
				</div>
				<div class="timeline-content">
					<h2>The Mentalist</h2>
					<p>
						Basic knowledge of resistance and to resist stage fear.
					</p>
					<a class="waves-effect waves-light btn modal-trigger" href="#modal3">DETAILS</a>
				</div>
				<div id="modal3" class="modal">
    <div class="modal-content">
      <h4>THE MENTALIST</h4>
      <p>Round 1: <br>
       <p style="text-indent:50px;">Quiz base on resistance, impedance series and parallel combinations and basic electrical questions.</p>
Round 2: <br>
<p style="text-indent:50px;">In this round participants will get different resistors and they have to connect and do hardware connections.</p>
Round 3: <br>
<p style="text-indent:50px;"> Presentation (topic will be given by us)</p>
<p style="margin-left:20px;">Entry Fee: 20 rs <br>
	Participants per team: 2 <br>
Event Manager: Vaibhav Patel <br>
Phone No.:9978472173
</p></p></p>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">CLOSE</a>
    </div>
			</div>
		</div>
	</div>
</div>
      <footer class="page-footer had-container">
          <div class="footer-copyright">
            <center>
              <a  target="_blank" href="https://www.facebook.com/fusionbvm"><img src="../img/facebook42.png"></img></a>
              <a target="_blank"  href="https://www.instagram.com/fusionbvm"><img src="../img/instagram42.png"></img></a>
              <a target="_blank"  href="https://github.com/Team-ISTE"><img src="../img/github42.png"></img></a>
           </center>
          </div>
        </footer>
		<script type="text/javascript" src="../js/jquery-2.2.0.min.js"></script>
		<script type="text/javascript" src="../js/materialize.min.js"></script>
        <script type="text/javascript" src="../js/main.js"></script>
        <script rel="text/javascript" src="../js/jquery.fittext.js"></script>
        <script rel="text/javascript" src="../js/jquery.lettering.js"></script>
        <script rel="text/javascript" src="http://yandex.st/highlightjs/7.3/highlight.min.js"></script>
        <script rel="text/javascript" src="../js/jquery.textillate.js"></script>

  </body>
</html>
